HTML {

}

body {
  background-color: darkslategrey;
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 15vw;
  gap: 100px;
}

.valid {

}

.invalid {

}

.listBox {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: 2px, solid white;
  width: 30vw;
  height: 30vh;
  gap: 15px;
  padding: 10px;
  border-radius: 5px;
}

.listUnit {
  background-color: rgb(49, 184, 127);
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}

#btnsubmit {

}

#formcadastro {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 20px;
}